%% Help on PropEr:
%% http://lj.rossia.org/users/eacher/100949.html

{lib_dirs, ["app_test",
            "deps"
           ]}.

{eunit_opts, [verbose]}.
{erl_opts, [debug_info]}.

%%-*- mode: erlang -*-

{deps_dir, "deps"}.

{deps, [
	{proper, "1.1",
		{git, "git://github.com/manopapad/proper.git", {tag, "v1.1"}}}
]}.

{sub_dirs, [
            "app_test"
           ]}.

{erl_opts, [debug_info
           ]}.

{xref_checks, [undefined_function_calls]}.


%% == EUnit ==

%% Options for eunit:test()
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

%% Whether to enable coverage reporting.
{cover_enabled, true}.

%% Whether to print coverage report to console.
{cover_print_enabled, true}.
